<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ProLock.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="proUSBType" value="PRORFL"/>
    <add key="fileDb" value="CardLock.mdb"/>
    <add key="dbPassword" value="pradlock"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="isMapRoomName" value="false"/>
    <add key="reservationPath" value="reservationRoomId"/>
  </appSettings>
  <userSettings>
    <ProLock.Properties.Settings>
      <setting name="HotelCode" serializeAs="String">
        <value/>
      </setting>
      <setting name="SystemCode" serializeAs="String">
        <value/>
      </setting>
      <setting name="LockFolder" serializeAs="String">
        <value>D:\[JY01]Card Lock Management System\</value>
      </setting>
    </ProLock.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    
  <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
